@model IEnumerable<Data1C.Model.Book>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_ViewImports";
}



<p>
@*    <a asp-action="Create">Create New</a>
    <select class="form-select">
        <option value="0">Показать всё</option>
        <option value="100">Показать 100</option>
        <option value="1000">Показать 1000</option>
    </select>*@

    @using (Html.BeginForm("Index","books",FormMethod.Get))
    {
        <div>
            @Html.DropDownList("limit", new SelectList(new[] {0,10,100} ), new {@class = "form-control", style="width: 100px;"})
            <button class="btn btn-outline-dark" type="submit">Огранич. списка</button>

            @*Исправить подключение CSS*@
            @Html.TextBox("search",null, new {@class = "form-control", style="width: 500px;"})
            <button class="btn btn-outline-dark" type="reset">Сбросить фильтры</button>
        </div>
    }

</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookCode)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.AuthorMark)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BookDescription)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.DateOfCreation)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorMark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfCreation)
                </td>
            </tr>
        }
    </tbody>
</table>